.redButton {
  width: 30%;
  height: 40px;
  margin: 60px 5%;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(255, 53, 0);
  font-family: 'Anton', sans-serif;
  font-size: 20px;
}

.registerButton {
  position: relative;
  top: 310px;
  left: 10%;
  background-color: transparent;
  color: white;
}

.loginButton {
  position: relative;
  top: 310px;
  left: 100%;
  background-color: transparent;
  color: white;
}

.button {
  border: 0px;
}

.editProfile {
  margin-top: 40px;
}

.FixtureButtonLeft {
  width: 10%;
  height: 100px;
  margin-right: 10px;
}

.FixtureButtonRight {
  width: 10%;
  height: 100px;
  margin-left: 10px;
}

.at {
  background-color: white;
  height: 100px;
  position: relative;
}
.PickButton {
  background-color: red;
}

.LockButton {
  background-color: green;
}

.lockedButton {
  background-color: green;
  background-image: url('/assets/images/lock.png');
  background-position: center;
  background-repeat: no-repeat;   
  height: 100px;
  width: 10%;
  position: relative;
  left: 0px;
}

.inactive {
  background-color: grey;
}
