.customSubTitle {
  font-family: 'Anton', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 30px;
  width: 100%;
  padding: 80px 50px 20px 20px;
}

.highlightText {
  font-family: 'Anton', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fixtureFirstName {
  padding-top: 25px;
}

.fixtureSecondName {
  line-height: 20px;
}

.standardText {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.size30 {
  font-size: 30px;
}

.size20 {
  font-size: 20px;
}

.size100 {
  font-size: 100px;
}

.pointerSmall {
  font-size: 15px;
}

small {
  font-size: 15px;
  letter-spacing: normal;
  line-height: 0.2;
}
