.userShowContainer {
  width: 934px;
  background-color: transparent;
}

.topPanelTopLine {
  display: flex;
  justify-content: space-between;
}

.subMenu {
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.centralColumn {
  padding: 0px;
}

.subNavItem {
  margin-top: 15px;
  width: 20%;
  height: 50px;
  text-align: center;
}

.leftProfileContainer {
  background-color: white;
  min-height: 554px;
  max-height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profilePic {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  background-color: grey;
  background-position: center;
  background-size: cover;
  margin: 10px;
}

.teamLogoSmall {
  width: 140px;
  height: 140px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.topProfileContainer {
  width: 722px;
  height: 230px;
  background-color: black;
  margin-left: 20px;
  border-radius: 10px;
  padding: 0.75rem;
}

.middleProfileContainer {
  margin-top: 20px;
  width: 722px;
  min-height: 430px;
  background-color: black;
  margin-left: 20px;
  border-radius: 10px;
  padding: 0.75rem;
}

.statsContainer {
  display: flex;
}

canvas {
  width: 100% !important;
  height: 140px !important;
}

hr {
  margin: 0.5rem 0;
}

.stats {
  width: 230px;
  display: flex;
  flex-direction: column;
}

.innerStats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scoreByWeekContainer {
  padding-left: 5%;
  width: 100%;
  height: 50px;
  display: flex;
}

.scoreByWeek {
  width: 15%;
}
