@import 'partials/background';
@import 'partials/buttons';
@import 'partials/forms';
@import 'partials/navbar';
@import 'partials/typography';

@import 'components/home';
@import 'components/profile';

.teamContainer {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  background-color: black;
  color: white;
}


.teamLogo {
  min-height: 200px;
  padding: 0px;
  width: 60%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: right;
}

.teamName {
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.fixtureAt {
  background-color: black;
}
