@import 'partials/background';
@import 'partials/buttons';
@import 'partials/forms';
@import 'partials/navbar';
@import 'partials/typography';
@import 'partials/doughnutChart';

@import 'components/home';
@import 'components/profile';

html {
  background-color: transparent;
}

.teamContainer {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  background-color: black;
  color: white;
}

.lockBox {
  width: 49px;
  height: 49px;
}

.bottomPanel {
  padding: 30px;
}

.fixtureContainer {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 50px;
  height: 150px;
  border: 3px solid red;
  display: flex;
  justify-content: space-between;
}

.innerBottomPanel {
  padding: 30px;
  border-radius: 10px;
}

.lockContainer {
  width: 90%;
  min-height: 291px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.teamLogo {
  min-height: 200px;
  padding: 0px;
  width: 60%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: right;
}

.teamName {
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.fixtureAt {
  background-color: black;
}
