.homeScreen {
  background-image: url('/assets/images/background.jpg');
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.teamContainer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.teamLogo {
  min-height: 100px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
